@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* --------------------Paleta de colores------------------------*/
:root {
    --color-root: rgba(218, 218, 223, 0.384);
    --color-search: #F5F5F5;
    --color-type: #E8E8E8;
    --color-check: #D9D9D9;
    --color-input: #F9A910;
    --color-text-input: #1391CC;

}

/* -------------Estilos a header con un banner --------------*/
/*Contenedor que ajusta el maximo de la pagina*/
.content-header {
    /*background-image: url(./img/Banner.png);*/
    width: 100%;
}
.content-header img {
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* -------------Estilos al contenedor de las cards pokemon --------------*/
/*Contenedor #root -- Selector por ID*/
#root {

    background-color: var(--color-root);
    padding: 35px;
    width: 100%;
    /*height: 100vh;*/
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* ----------------Estilos a todas las cards de pokemon---------------------*/
.content-principal {
    width: 220px;
    height: 220px;
    margin: 30px;
}

.bug {background-image: url('img/cards/bug.png');}
.grass {background-image: url('img/cards/gass.png');}
.fairy {background-image: url('img/cards/fairy.png');}
.dragon {background-image: url('img/cards/dragon.png');}
.dark {background-image: url('img/cards/dark.png');}
.fire {background-image: url('img/cards/fire.png');}
.water {background-image: url('img/cards/water.png');}
.electric {background-image: url('img/cards/electric.png');}
.fighting {background-image: url('img/cards/fighting.png');}
.flying {background-image: url('img/cards/flying.png');}
.ghost {background-image: url('img/cards/ghost.png');}
.ground {background-image: url('img/cards/ground.png');}
.poison {background-image: url('img/cards/poison.png');}
.psychic {background-image: url('img/cards/psychic.png');}
.rock {background-image: url('img/cards/rock.png');}
.normal {background-image: url('img/cards/normal.png');}
.ice {background-image: url('img/cards/ice.png');}
.steel {background-image: url('img/cards/steel.png');}

.content-card {
    background-size: cover;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px rgba(231, 225, 225, 0.75);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(202, 194, 194, 0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(207, 199, 199, 0.75);
}
.container-cards:hover{
    box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.num-pokemon {
    flex: 1;
    padding-right: 155px;
    margin-top: 32px;
    font-weight: bold;
    font-size: 14px;
}

.content-info {
    /*background-color:#0975f0;*/
    margin: 5px;
}

.content-info .name-pokemon {
    text-align: center;
    font-size: 20px;

}

.content-info .type-pokemon {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.type-pokemon img {
    width: 2.5rem;
    margin: 5px;
}

/* ----------------------Estilos a contenedor filtrar----------------------------*/
.content-search {
    width: 100%;
    background-color: var(--color-search);
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.content-input {
    /* background-color: #1391CC;*/
    width: 50%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchId {
    width: 90%;
    height: 50px;
    outline: none;
    border: none;
    color: var(--color-text-input);
    font-size: 18px;
    box-shadow: 0px 10px 10px -6px var(--color-check);
}

#searchId:hover {
    border: 2px solid var(--color-input);
}

#searchId::placeholder {
    padding: 5px;
    font-size: 14px;
    color: var(--color-text-input);
}

.input-img {
    background-color: var(--color-input);
    width: 65px;
    height: 50px;
    position: relative;
}

.content-input .input-img img {
    width: 45px;
    height: 45px;
    margin: 5px;
    background-position: center center;
}

.content-search #pokemonSelect {
    width: 150px;
    height: 50px;
    margin: 20px;
    outline: none;
    border: none;
    appearance: none;
    text-align:center;
    background-image: url('img/flecha-hacia-abajo.png');
    background-size:18px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1.5em);
    background-position-y:center;
    padding-right: 15px;
}
.content-error p{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color-text-input);
}
/*-----------estilos footer----------*/
.content-footer {
    width: 100%;
    padding: 20px;
    background-color: #B1B1B1;
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
}
.content-img{
    border-right:1px solid #fff;
    width: 50%;
    padding: 20px;
}
.content-img img{
    width: 130px;
}
.content-text{
    width: 50%;
    padding: 15px;
}
.content-text img{
    width: 50px;
}
/* ----------scroll flecha ---------*/
.content-scroll{
    position:fixed;
    bottom: 4rem;
    right: 4rem;
    z-index: -80;

}
.btn-scroll {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s;
}
.show {
    z-index: 10;
    transform: translate(-50%, -50%) scale(1);
}

.show .btn-scroll {
    animation: popup .1s ease-in-out;
    width: 5em;
    height: auto;
    color: #ffffff;
    z-index: 11;
    transform: translate(-50%, -50%) scale(1);
}
/* ---------------Estilos del ventana Modal -------------- */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    display: none;
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    overflow: scroll;
    background-size: cover;
    margin: auto;
    width: 400px;
    max-height: -webkit-fill-available;
    border-radius: 6px;
    padding: 3em 2.5em;
    margin: 30px auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: var(--transform);
    transition:var(--transition);
}
.modal__close{
    position: absolute;
    right: 0;
    
}
.modal__header{
    /*background-color: #cc3e13;*/
    width: 50%;
    /*background-color: var(--color-type);*/
    border-radius: 8px 8px 0px 0px;
}
.modal__title{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}
.modal__paragraph{
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
}
.modal__body{
   /* background-color: #1391CC;*/
    width: 50%;
    /*background-color: var(--color-type);*/
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.modal__type{
    font-size: 14px;
    margin: 3px;
    padding: 2px;
    background-color: var(--color-search);
    border-radius: 7px;
}
.modal__height{
    font-size: 14px;
    margin: 3px;
    padding: 2px;
    background-color: var(--color-search);
    border-radius: 7px;
}
.modal__weight{
    font-size: 14px;
    margin: 3px;
    padding: 2px;
    background-color: var(--color-search);
    border-radius: 7px;

}
.modal__stast{
    font-size: 14px;
    margin: 3px;
    padding: 5px;
    background-color: var(--color-search);
    border-radius: 7px;

}
.modal__evolu{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
}
.modal__evolutions{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.next-evolution{
    width: 50%;
    padding: 30px;

}
.prev-evolution{
    width: 50%;
    padding: 30px;
}
.modal__evolutions img{
    width: 70px;
}
.modal__evolutions .titulo{
    font-size: 14px;
    font-weight: bold;
 }
 
.modal__evolutions p{
   font-size: 11px;
}
/*--------------Check box---------------------------*/

#divPokemonType {
    background-color: var(--color-check);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
fieldset {
    margin: 20px;
    padding: 20px;
    border-color: #fff;
}
button {
    font-size: 14px;
    color: #fff;
    font-weight: bold;

    width: 125px;
    height: 45px;
    margin: 6px;
    padding: 6px;
    border-radius: 15px;
    border: 2px solid var(--color-search);
   /* box-shadow: 1px 1px 5px 1px rgba(231, 225, 225, 0.75);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(202, 194, 194, 0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(207, 199, 199, 0.75);*/
}
#boton-filtro{
    background-color: #26D2ED ;
}
#boton-filtro:hover{
    color:#26D2ED;
    border: 2px solid #26D2ED;
    background-color: #F5F5F5;
}
#filtro-debilidad{
    background-color: #DB88DC;
}
#filtro-debilidad:hover{
    color:#DB88DC;
    border: 2px solid #DB88DC;
    background-color: #F5F5F5;
}
#filtro-resistencia{
    background-color: #88DCC8;
}
#filtro-resistencia:hover{
    color:#88DCC8;
    border: 2px solid #88DCC8;
    background-color: #F5F5F5;

}
#boton-porcentaje{
    background-color: #EE4C87;
}
#boton-porcentaje:hover{
    color:#EE4C87;
    border: 2px solid #EE4C87;;
    background-color: #F5F5F5;
}
li {
    background-color: var(--color-search);
    display: inline-block;
    width: 120px;
    margin: 8px;
    border: 1px solid var(--color-type);
    border-radius: 2px;
}
label#labelType {
    margin-left: 4px;
    margin-right: 2px;
}
input[type="checkbox"] {
    margin-left: 2px;
}
li img[alt=' type pokemon'] {
    width: 20px;
    height: 20px;
    display: inline-block;
}
/* ----------responsive desing ---------*/
@media screen and (min-width: 280px) and (max-width: 390px) {
    .modal__title {
        font-size: 14px;
    }
    .modal__paragraph {
        font-size: 11px;
    }
    .content-img img {
        width: 90px;
        margin-top: 65px;
        margin-left: -13px;
    }
    .num-pokemon {
        padding-left: 20px;
        margin-top: 26px;
    }
    .content-search {
        width: 100%;
    }
    #divPokemonType {
        width: 100%;
        flex-wrap: wrap;
        
    }
}

@media screen and (min-width: 400px) and  (max-width: 600px) {

    .modal__title{
        font-size: 16px;
    }
    .modal__paragraph{
        font-size: 11px;
    }
    .content-search {
        width: 100%;
    }
    #divPokemonType {
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media (max-width:768px) {
    .content-search {
        flex-direction: column;
        width: 100%;
    }
    .modal__container{
        margin: 20px auto;
        height: auto;
    }
}
@media (max-width:1200px) {
    .modal__container{
        margin: 20px auto;
    }
   
}

