*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content-header{
    width: 100%;
    background-color: blue;
    height: 200px;
}

/*.fondo{
    width: 100%;
    background-color: blue;
    height: 200px;

}*/

/*Contenedor #root -- Selector por ID*/

#root{

    background-color: aqua;
    padding: 35px;
    width: 100%;
    /*height: 100vh;*/
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.content-principal{
    background-color:azure;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.content-footer{
    width: 100%;
    background-color:chartreuse;
    height: 200px;
}




